.navbarStyle {
    background-color: #242424;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
    .header {
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-content: center;
        align-items: center;
    img {
        width: 50%;
        margin-left: 30px;
    }
}
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        li {
          list-style: none;
          text-align: center;
          a {
            font-size: 1.1rem;
            color: white;
            text-decoration: none;
            transition: all 0.2s ease;
            padding: 8px;
            border-right: solid 1px white;
          }
          a:hover {
            color: red;
            //letter-spacing: 1px;
          }
        }
      }
    
}
