.card {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 5em;
    margin-top: 5em;
    //margin-left: 12em;

    gap: 3em;
    &.reversed {
        //flex-direction: row-reverse;
        direction: rtl;

    }
    .content {
        width: 40em;
        padding: 6em;
        margin-left: 8em;
        display: flex;
        flex-direction: column; // places h2, p, + action vertically
        gap: 10px; //between h2, p + action

        h2 {
            color: var(--grey-drk);
            margin-bottom: 10px;
            font-weight: 300;
            font-size: 1.8em;
        }

        p {
            color: var(--grey);
            margin-bottom: 20px;
            font-size: small;
            line-height: 22px;
        }

        .action {
            display: flex;
            gap: 10px;
        }
    }

    .imgWrapper {
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        overflow: hidden;
        justify-content: flex-start; //hides overflowing part of image

        img {
            display: block;
            width: 25em;
            height: 30em;
            object-fit: cover;
            border-radius: 15px;
        }
    }
}