@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
//font: 'Mulish', tætteste fundet på 'Muli'
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap'); 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

  body{
    font-family:var(--text);
 }

:root {
    --text: "Open Sans", sans-serif;
    --nav: "Mulish", sans-serif;

    --primary: #222A41; //title
    --secondary: #232F44; //text

    
    --greenActive: #6DA830;
    --greenBox: #D8EADB;
    --green-darker: #114D46;
    --green-hover: #1E6D5F;
    --green-span: #b0ddb2;
    --green-btnSecond: #91cf93;
    --whiter: #fafafa;
    --greenTitle: #119B1E;
    --greenTitleSpan: #0E4F2D;
    --black: #000;
    --white: #fff;
    --grey-drk: #222A41;
    --grey: #888888;
    --grey-lt: #d8d8d8;
    --greybg: #f2f2f2;
    --blackText: #202020;
    --whiteBg: #F4F7F7;
    --passwordIcon: #84818A;
    --green: #62bb65;
    --green-drk: #114d46;
    --green-lt: #6da830;

    --blue-lt: #459eff33;
}


